.App {
  text-align: center;
}

.content {
  height: auto;
  width: auto;
  padding: 10%;
}

.start-time {
  position: relative;
  left: -40%;
}

.end-time {
  position: relative;
  right: 40%;
}

.timetable {
  margin-top: 1%;
  width: 100%;
}

.timetable td {
  width: 50%;
  text-align: center;
}

.timeline {
  position: relative;
  height: 10px;
  background: rgb(103 200 255);
  border-radius: 10px;
}

.min-width80 {
  min-width: 80px;
}

.close-btn {
}

.ta-left {
  text-align: left;
}

.pointer {
  position: absolute;
  border-radius: 25px;
  background: rgb(255, 83, 83);
  height: 25px;
  width: 25px;
  margin-top: -8px;
}

.timer {
  margin-top: 20px;
  font-size: 5vh;
  color: aliceblue;
}

.title {
  margin-bottom: 5%;
  font-size: 15vh;
  color: aliceblue;
}

.time {
  position: absolute;
  color: aliceblue;
}

.add-btn {
  margin-right: 20px;
}

.add-new-btn {
  margin-top: 15vh;
}

.time-container {
  position: relative;
  margin-top: 5px;
}

.btn-input-group {
  justify-content: center;
}

.break-point {
  position: absolute;
  background: rgb(0, 0, 255);
  height: 10px;
  width: 5px;
}

.list {
  width: auto;
}

.list-container {
  display: flex;
  justify-content: center;
  text-align: left;
  margin-top: 20px;
  color: aliceblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
